---
name: CI
'on':
  pull_request:
  push:
    branches:
      - master
  schedule:
    - cron: "15 2 * * 5"

defaults:
  run:
    working-directory: 'geerlingguy.packer_rhel'

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4
        with:
          path: 'geerlingguy.packer_rhel'

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'  # Can't go to 3.14+ until Ansible 13.x

      - name: Install test dependencies.
        run: pip3 install yamllint

      - name: Lint code.
        run: |
          yamllint .
